<div *ngIf="item && !editMode">
  <h3>{{ item.itemName }}</h3>
  <div>description: {{ item.description }}</div>
  <div>subject: {{ item.subject }}</div>
  <div>status: {{ item.status }}</div>
  <div>goalDate: {{ item.goalDate | date: "MM/dd/yyyy" }}</div>
  <div>createdAt: {{ item.createdAt | date: "MM/dd/yyyy" }}</div>
  <div>updateAt: {{ item.updatedAt | date: "MM/dd/yyyy" }}</div>
  <div>{{ item.filename }}</div>
  <img class="card-text" [src]="item.displayUrl">
  <button (click)="goBack()">go back</button>
  <button (click)="setEditMode(true)">edit</button>
  <button (click)="deleteItem()">delete</button>
</div>

<form *ngIf="editMode" #form="ngForm" (ngSubmit)="submitForm(form.value)">
  <div class="form-group">
    <label for="itemName">item name: </label>
    <input name="itemName" class="form-control" [ngModel]="item.itemName">
    <br>
    <label for="description">description: </label>
    <input name="description" class="form-control" [ngModel]="item.description">
    <br>
    <label for="subject">subject: </label>
    <input name="subject" class="form-control" [ngModel]="item.subject">
    <br>
    <label for="status">status: </label>
    <input name="status" class="form-control" [ngModel]="item.status">
    <br>
    <label for="goalDate">goalDate: </label>
    <input name="goalDate" class="form-control" [ngModel]="item.goalDate">
  </div>
  <button type="submit">save</button>
</form>
