<!-- add new item card-->
<mat-card>
  <mat-card-title>add new item</mat-card-title>
  <add-item (refreshListOutput)="updateList()"></add-item>
</mat-card>

<!-- task card -->
<mat-card>
  <mat-card-title>tasks</mat-card-title>
  <mat-list role="list">
    <item *ngFor="let itemObj of itemList" [item]="itemObj" [baseUrl]="baseUrl" [isComplete]="false"></item>
  </mat-list>
</mat-card>

<!-- completed card -->
<mat-card>
  <mat-card-title>complete</mat-card-title>
  <mat-list role="list">
    <item *ngFor="let itemObj of itemList" [item]="itemObj" [baseUrl]="baseUrl" [isComplete]="true"></item>
  </mat-list>
</mat-card>
